{% extends 'base.html.twig' %}

{% block head %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta charset="utf-8">
            <title>Recette Test</title>

            {% block title %}Nos Recettes{% endblock %}

             {% block stylesheets %}

          <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
          <link rel="stylesheet" href="{{ asset('style/recettes_style.css') }}">

        {% endblock %}
        
    
        {% block javascripts %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
        <script src ="{{ asset('style/js/cards.js') }}"></script> 

    </head>
    {% endblock %}
{% endblock %}


 {% block body %}

     	<div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}

        <div class="form-row">
            <div class="col">
                {{ form_row(form.minPrice) }}
            </div>
             <div class="col">
                {{ form_row(form.maxPrice) }}
            </div>
             <div class="col">
                <button class="btn btn-primary">Rechercher</button>
            </div>

        </div>
            {{ form_end(form) }}
        </div>
    </div>
 

                <h1>Nos Idées Recettes</h1>
            <div class="container">
            <div class="row flex">
            {% for r in recettes %}
            <div class="col-4">
            <div class="card">
                <a class="hover-img" href="{{ path('show', {id: r.id}) }}">Voir la Recette</a><img src="/assets/recettes/{{ r.filename }}" >
                <div class="content">
                <h2>{{ r.titreRecette}}</h2>
                <a href="{{ path('show', {id: r.id}) }}">{{ r.prixRecette |  number_format(2, ',', ' ') }} €</a>
                </div>
                </div>
            </div>
            
            {% endfor %}
            </div>
            </div>



            <div class="pagination">
                {{ knp_pagination_render(recettes) }}
            </div>

        </div>                                  

     
{% endblock %}



