{% extends 'base.html.twig' %}

{% block title %}Nos Recettes{% endblock %}

 {% block body %}

 
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}

        <div class="form-row">
            <div class="col">
                {{ form_row(form.minPrice) }}
            </div>
             <div class="col">
                {{ form_row(form.maxPrice) }}
            </div>
             <div class="col">
                <button class="btn btn-primary">Rechercher</button>
            </div>

        </div>
            {{ form_end(form) }}
        </div>
    </div>

       <div class="container">       
            <h2>Les dernières recettes</h2>
            <div class="row flex">
                {% for r in recettes %}
                    <div class="col-3">
                        <div class="card">
                            <div class ="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('show', {id: r.id}) }}">{{ r.titreRecette}}</a>
                                </h5>
                                    
                                    <iframe class="video-recettes" src={{r.lienVideo}}></iframe>
                                    

                                        <p class="card-text">{{ r.descriptionRecette}}</p>
                                        <div class="text-primary">{{ r.prixRecette |  number_format(2, ',', ' ') }} €</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

     
{% endblock %}

