<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}StudCook{% endblock %}</title>
        <link rel="shortcut icon" href="../assets/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"> 
        <link rel="stylesheet" href="{{ asset('style/style_base.css') }}">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        <script> document.getElementById("video_r").width = "2000";</script>
        {% endblock %}
    </head>
    <body>
      
        <img class="logo" src="../assets/Logo.PNG" alt="logo-studcook">
         {% if app.user %}
        <div class="active-user">
          <img class="img-active-user" src="../assets/icon-user-green.png" alt="icon-user">{{ app.user.username}}
        </div>
         {% endif %}
        <nav class="stroke">
          <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a {% if current_menu is defined and current_menu == 'recettes' %} active {% endif %} href="{{ path('recettes') }}">Nos Recettes</a></li>
            <li><a href="{{ path('bonsplans') }}">Nos Bons Plans</a></li>
            <li><a href="{{ path('contact.index') }}">Nous Contacter</a></li>
            {% if app.user %}
            <li><a href="{{ path('logout') }}">Se Déconnecter</a></li>
            {% else %}
            <li><a href="{{ path('login') }}">Se Connecter</a></li>
            {% endif %}
          </ul>
          
        </nav>


        {% block body %}{% endblock %}
        <script src ="{{ asset('style/js/typewriter.js') }}"></script>
        <script src="{{ asset('style/js/form/form.js') }}"></script> 
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </body>
</html>
